@import "variaveis";  
@import  "mixins";   
@import "extends" ;

body {
    font-size: $tamanho-fonte;
    color: var(--variavel);
    color: $cor;
    background-color: $fundo;

    div {
        font-size: $tamanho-fonte * 1.5;
        
        p {
            color: lightblue;
            
            &.paragrafo {
                font-weight: bold;

            }
        }
    }


}

.botao-princ{
    @include botao($tamanho-fonte * 1.5);

    &:hover {
        background-color: #ccc
    }

}

.botao-sec {
    @include botao(18px);

    &:hover {
        background-color: lightblue;
    }
}

.botao-terc {
    @extend %botao;
}
